.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  thead th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  tbody td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .list {
    width: calc(100vw - 200px);
    padding: 20px;
  }

.btn {
    background-color: red;
    border-width: 0;
    padding: 4px;
    border-radius: 5px;
}