<div class="list">
<table class="table">
    <thead >
        <tr>
        <th>Name</th>
        <th>City</th>
        <th>Street</th>
        <th>House</th>
        <th style="text-align: center;">Delete</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let address of addresses">
            <td>{{ address.name }}</td>
            <td>{{ address.city }}</td>
            <td>{{ address.street }}</td>
            <td>{{ address.house }}</td>
            <td style="text-align: center;"><button (click)="delete(address.id)" class="btn">X</button></td>
        </tr>
    </tbody>
</table>
</div>