<div class="list">
  <app-loader [isLoading]="isLoading"></app-loader>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Street</th>
        <th>House</th>
        <th style="text-align: center">Edit</th>
        <th style="text-align: center">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of addresses">
        <td>{{ address.name }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.street }}</td>
        <td>{{ address.house }}</td>
        <td style="text-align: center">
          <button (click)="edit(address.id)" class="btn-edit"><mat-icon>edit</mat-icon></button>
        </td>
        <td style="text-align: center">
          <button (click)="delete(address.id)" class="btn-delete"><mat-icon>delete</mat-icon></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
